@{
ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <h6 class="text-center">
        Please Select Video And Subtitle For Sync With Others:
    </h6>
    <div class="row my-3">
        <div class="col-md-6 col-12">
            <label class="font-weight-bold">
                Video:
            </label>
            <input type="file" name="video" class="form-control" />
        </div>
        <div class="col-md-6 col-12">
            <label class="font-weight-bold">
                Subtitle:
            </label>
            <input type="file" name="sub" class="form-control" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <button class="btn btn-danger btn-block" onclick="changeVideoTimeFromSecond(- 15)">-15 Sec</button>
        </div>
        <div class="col-4">
            <input type="text" id="video_time" class="form-control text-center" onchange="changeVideoTime(this.value)">
        </div>
        <div class="col-4">
            <button class="btn btn-success btn-block" onclick="changeVideoTimeFromSecond(+ 15)">+15 Sec</button>
        </div>
    </div>
</div>
<div>
    <video width="400" controls onplay="videoPlay();" onpause="videoPause();" id="video_holder">
        <source id="video_source">
        <track label="English" kind="subtitles" srclang="en" default id="video_sub">
        Your browser does not support HTML5 video.
    </video>
</div>